<ActionBar title="Decision Maker" (pan)="login()" class="action-bar">
    <ActionItem ios.position="right" (tap)="addItem()">
        <Button text="Add" class="action-item"></Button>
    </ActionItem>
</ActionBar>
<GridLayout columns="*" rows="*, 50">
    <ListView col="0" row="0" [items]="firebaseService.myRestaurants$ | async" class="list-group">
        <ng-template let-item="item"> -->
            <Label [text]="item.name" (swipe)="onSwipe($event, item.id)" (longpress)="editItem(item)"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>
    <Button backgroundColor="green" col="0" row="1" text="Choose" (tap)="choose()" class="btn"></Button>
</GridLayout>