<ActionBar title="Decision Maker" (pan)="navigate()" class="action-bar">
    <ActionItem ios.position="left" (tap)="logout()">
        <Button text="Logout" class="action-item"></Button>
    </ActionItem>
    <ActionItem ios.position="right" (tap)="addItem()">
        <Button text="Add" class="action-item"></Button>
    </ActionItem>
</ActionBar>
<StackLayout class="page">
    <ListView [items]="firebaseService.myRestaurants$ | async" class="list-group">
        <ng-template let-item="item">
            <!-- <Label [nsRouterLink]="['/item', item.id]" [text]="item.name" class="list-group-item"></Label> -->
            <Label [text]="item.name" (swipe)="onSwipe($event, item.id)" class="list-group-item"></Label>
        </ng-template>
    </ListView>
    <Button text="Choose" (tap)="choose()" class="btn"></Button>
</StackLayout>